.table
{
	margin: 3em auto;
}

.table th,
.table td
{
	vertical-align: middle;
}

td.scrobble-cell
{
	width: 120px;
}

td.track-number-cell,
th.track-number-cell
{
	text-align: right;
	width: 48px;
}

td.artist-cell
{
	width: 33%;
}

.track span.artist-name
{
}
